
<div class="col-xs-3">

	<h2>User info</h2>
	<%= render partial: 'users/profile', locals: { user: current_user } %>

	<h2>New book</h2>
	<%= render partial: 'books/newform', locals:{ book: @newbook } %>
</div>

<div class="col-xs-9">
	<h2>Book detail</h2>

	<table class="table">
		<tr class="book_detail_<%= @book.id %>">
			<%= render partial: 'books/book_detail', locals:{ book: @book } %>
		</tr>
	</table>

	<% if @book_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_comment.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="comments_area" class="book_comment_content">
  	<%= render partial: 'books/book_comment', locals:{ book: @book , book_comments: @book_comments } %>
  </div>

  <%= render partial: 'books/form', locals:{ book: @book , book_comment: @book_comment } %>
</div>


